/**********************************************************************************/
/* REGLES GLOBALES DU SITE */
/**********************************************************************************/
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
	font-family: 'Calibri';
    font-size: 1.5rem;
    color: #000000;
}
.w100 {width: 100%}
.w95 {width: 95%;}
.w90 {width: 90%;}
.w85 {width: 85%;}
.w80 {width: 80%;}
.w75 {width: 75%;}
.w70 {width: 70%;}
.w65 {width: 65%;}
.w60 {width: 60%;}
.w55 {width: 55%;}
.w50 {width: 50%;}
.w45 {width: 45%;}
.w40 {width: 40%;}
.w35 {width: 35%;}
.w30 {width: 30%;}
.w25 {width: 25%;}
.w20 {width: 20%;}
.w15 {width: 15%;}
.w10 {width: 10%;}
.w5 {width: 5%;}

.mauto {
    margin: auto;
}
.flex {
    display: flex;
}
.centerFlex {
    justify-content: center;
}
.none {
    display: none;
}
.block {
    display: block;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.souligne {
    text-decoration: underline;
}

h1 {
	font-size: 2rem;
}
.countdown {
	font-size: 2.5rem;
	color: #EE1010;
}